.main-nav {
  width: 100%;
  background: #2980B9;
  min-height: 30px;
  padding: 10px;
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}


.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #D2B4DE;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
